// app global css in SCSS form
@import './quasar.variables.scss';
body{
    font-family: 'Open Sans';
}
.font-9 {
    font-size: 0.5625rem;
}
.font-13 {
    font-size: 0.8125rem;
}
.font-14 {
    font-size: 0.875rem;
}
.font-15 {
    font-size: 0.9375rem;
}
.font-16 {
    font-size: 1rem;
}
.font-22{
    font-size: 1.375rem;
}
.font-24{
    font-size: 1.5rem;
}
.font-26 {
    font-size: 1.625rem;
}
.font-bold {
    font-weight: 700;
}
.h-100{
    height: 100%;
}
.w-50 {
    width: 50%;
}
.fill-green{
    fill: $aspire-green;
}
.fill-white {
    fill: $white;
}

@media only screen and (max-width: 1023px) {
    .page-padding {
        padding: 24px;
    }
    .page-bg {
        background: $aspire-blue;
    }
    .text-color {
        color: $white !important;
    }
}

@media only screen and (min-width: 1024px) {
    .q-page-container {
        transform: translateX(340px);
        width: calc(100% - 340px);
    }
    .page-padding {
        padding: 60px;
        max-width: 1280px;
    }
    .text-color {
        color: $dark !important;
    }
}